.container{
    width: 1200px;
    /* border: 1px solid orange; */
    height: 230px;
    margin: 0 auto 0;
    display: block;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    background-color: rgb(23, 23, 23);
    box-shadow: 0 0 5px rgb(23, 23, 23);
}