.container{
    width: 60px;
    height: 60px;
    outline: 1px solid rgb(47, 0, 255);
    border: 1px solid rgb(36, 0, 198);
    outline-offset: 1px;
    background-color: rgb(19, 38, 118);
    border-radius: 5px;
    margin: auto;
    font-size: 30px;
}