.container{
    width: 60px;
    height: 60px;
    border: 2px solid red;
    background-color: rgb(19, 38, 118);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: auto;
}