.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}
.container span{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}