.container {
    display: grid;
    position: relative;
}

.container div:first-child {
    position: absolute;
    left: 5px;
    top: 5px;
}

.container div:last-child {
    position: absolute;
    right: 5px;
    top: 33px;
}
